<h1>Editing Book</h1>

<%= form_with model:@book do |f| %>
  <%= f.label :title%>
  <%= f.text_field :title, autofocus: true %>
  <%= f.label 'Opinion', :body %>
  <%= f.text_area :body, autofocus: true %>
  <%= f.submit 'Update Book'%>
<% end %>  